.share {
    z-index: 1;
    display: flex;
    align-items: center;
    position: relative;
}

.btnShare {
    @apply text-blue-700 hover:text-white border border-blue-700 hover:bg-blue-800
    font-medium rounded-md text-sm px-3 py-2 text-center
    dark:border-blue-500 dark:text-blue-500 dark:hover:text-white dark:hover:bg-blue-500
    outline-none;
}