.steps {
    display: flex;
    margin-left: 15px;
}

.steps > button {
    width: 37px;
    height: 37px;
    background-color: #e1e1e1;
    font-size: 15px;
    color: #262626;
    cursor: pointer;
}

.steps > button.previous {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.steps > button.next {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}