.zoom {
    display: flex;
}

.zoom > button {
    width: 37px;
    height: 37px;
    background-color: #e1e1e1;
    font-size: 15px;
    color: #262626;
    cursor: pointer;
}

.zoom > button.minus {
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}

.zoom > button.plus {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.zoom > span {
    width: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e1e1e1;
    font-size: 15px;
    color: #464646;
}