.ubuntuLight {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: normal;
}

.ubuntuRegular {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: normal;
}

.ubuntuMedium {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: normal;
}

.ubuntuBold {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: normal;
}

.ubuntuLightItalic {
    font-family: "Ubuntu", serif;
    font-weight: 300;
    font-style: italic;
}

.ubuntuRegularItalic {
    font-family: "Ubuntu", serif;
    font-weight: 400;
    font-style: italic;
}

.ubuntuMediumItalic {
    font-family: "Ubuntu", serif;
    font-weight: 500;
    font-style: italic;
}

.ubuntuBoldItalic {
    font-family: "Ubuntu", serif;
    font-weight: 700;
    font-style: italic;
}