.palette {
    position: relative;
    z-index: 1;
    width: 230px;
    box-shadow: 0 0 4px #b9b9b9;
    background-color: #fff;
    border-radius: 5px;
    left: 15px;
    top: 20px;
    padding: 8px;
}

.label {
    font-size: 13px;
    color: #262626;
}

.colors {
    display: flex;
    justify-content: space-between;
}

.colorRange {
    display: flex;
}

.colorBlock {
    width: 21px;
    height: 21px;
    margin: 0 4px;
    border-radius: 4px;
}

.black {
    background-color: #000000;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.orange {
    background-color: orange;
}

.colorPicker {
    background-color: orange;
    width: 25px;
    height: 25px;
    border-radius: 4px;
}