 .label {
    font-size: 13px;
    color: #262626;
}

 .colors {
     display: flex;
     justify-content: space-between;
 }

 .colorRange {
     display: flex;
 }

 .colorBlock {
     width: 20px;
     height: 20px;
     margin: 0 4px;
     border-radius: 4px;
 }

 .black {
    background-color: #000000;
 }

 .red {
     background-color: red;
 }

 .green {
     background-color: green;
 }

 .blue {
     background-color: blue;
 }

 .orange {
     background-color: orange;
 }

 .colorPicker {
     background-color: orange;
     width: 25px;
     height: 25px;
 }